<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/uikit.min.css" />
    <script src="/uikit.min.js"></script>
</head>

<body>
    <div class="uk-card uk-card-body">
        <form>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Логин" id="login">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Пароль" id="password">
            </div>
            <button class="uk-button" id="enter">Вход</button>

        </form>
    </div>
    <script src="auth.js"></script>
</body>

</html>