<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/uikit.min.css" />
    <script src="/uikit.min.js"></script>
    <script src="/require.js"></script>
</head>

<body>
    
</body>

</html>